# ignore all .cif files
/data/

# ignore the Pymol session file
*.pse

# ignore Rproject file
Documentation.Rproj

# ignore R project user directory
.Rproj.user/

.Rhistory
*.cif

*.html
